<table>
  <h3>WHITE WINE</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Germany</h5>
    </th>
    <th><h5>20</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Pinot Blanc</td>
  </tr>
  <tr>
  <tr>
    <th>
      <h5>Austria</h5>
    </th>
    <th><h5>27</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Grüner Veltliner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>32</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>34</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>38</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>44</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>49</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>52</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>

  <h3>RED WINE</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>55</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Baked Onion Soup</h5>
    </th>
    <th><h5>15</h5></th>
  </tr>
  <tr colspan="2">
    <td>Crouton, Gruyere Crust</td>
  </tr>
  <tr>
    <th>
      <h5>Iceberg Wedge Salad</h5>
    </th>
    <th><h5>14</h5></th>
  </tr>
  <tr colspan="2">
    <td>Bacon, Crouton, Hard Cooked Egg, House Dressing</td>
  </tr>
  <tr>
    <th>
      <h5>Mixed Greens</h5>
    </th>
    <th><h5>11</h5></th>
  </tr>
  <tr colspan="2">
    <td>Strawberry, Sugar Snap Pea, Chevre, Roasted Hazelnut, White Balsamic Vinaigrette</td>
  </tr>
  <tr>
    <th>
      <h5>House Caesar Salad</h5>
    </th>
    <th><h5>13</h5></th>
  </tr>
  <tr colspan="2">
    <td>Hearts of Romaine, Parmesan, Anchovy, Crouton</td>
  </tr>
</table>
