<ng-container>
  <div class="menu-options">
    <video [muted]="true" autoplay loop>
      <source src="../../../assets/fire.mp4" type="video/mp4">
    </video>
    <h1>MENUS</h1>
    <button type="button" class="btn btn-outline-light">A LA CARTE</button>
    <button type="button" class="btn btn-outline-light">DESSERTS</button>
    <button type="button" class="btn btn-outline-light">COCKTAILS</button>
    <hr>
    <h2>A LA CARTE</h2>
  </div>
  <div class="all-menus">
    <a-la-carte-menu></a-la-carte-menu>
  </div>
</ng-container>
